@charset "UTF-8";

body {
  font-family: "Lato";
  color: #333;
}


.font-raleway {
  font-family: "Raleway";
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.header-inner {
  display: flex;
  align-items: center;
  padding: 15px 0;
  justify-content: space-between;
}

.size {
  font-size:2em;
}

.size {
  color:#4e4e4e;
}

.button {
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
  font-size: 12px;
  padding: 14px 12px;
  display: inline-block;
  transition: 0.3s;
}

.button:hover {
  color: #333;
  transition: 0.3s;
}

main {
  background-color: #f2f2f2;
  padding-top: 70px;
}

/*ここからthem*/

.theme-inner {
  padding: 250px 0;
}

.them__h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme__lead {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.them__h1,
.theme__lead {
  text-align: center;
}

/*ここからsection*/

.what {
  background-color: #74cfae;
  color: #fff;
  text-align: center;
}

.what-inner {
  padding-top: 50px;
}

.what__section {
  display: flex;
}

.what__h2 {
  font-size: 24px;
}

.what__lead {
  font-size: 20px;
  line-height: 30px;
  margin-top: 35px;
}

.what__rap {
  width: 650px;
}

.what__img {
  width: 450px;
  font-size: 0;
}

/*ここから画像６つ*/

.work-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding-bottom: 70px;
  padding-top: 60px;
}

.work__title {
  font-size: 24px;
}

.work__list {
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
}

.work__group {
  opacity: 0.7;
  margin: 80px 0 0 100px;
  transition: 0.3s;
}

.work__group:hover {
  opacity: 1;
  transition: 0.3s;
}

.work__group:nth-child(3n+1) {
  margin-left: 0;
}

.work__group:nth-child(-n+3) {
  margin-top: 0;
}

.mail__box {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.mail {
  align-items: center;
  display: inline-block;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 12px;
  margin-left: 90px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transition: 0.3s
}

.mail:hover {
  transition: 0.3s;
  color: #333;
}

.work__lead {
  width: 580px;
  font-size: 20px;
  text-align: center;
}


a {
  display:inline-block;
}

/*ここからsection*/

.skill {
  background-color: #4e4e4e;
  color: #fff;
}

.skill-inner {
  padding: 70px 0 100px;
}

.skill__title {
  font-size: 24px;
  text-align:center;

}

.skill__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.skill__text {
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}

.skill__group {
  margin-left: 180px;
}

.skill__group:first-child {
  margin-left: 0;
}

.skill__img,
.skill__text {
  text-align: center;
}

/*ここからnav*/
.sns {
  background-color: #f2f2f2;
}

.sns-inner {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.sns__button {
  display: inline-block;
  text-align: center;
  color: #74cfae;
  padding: 40px 0;
  width: 185px;
  transition: 0.3s;
}

.sns__button:hover {
  transition: 0.3s;
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 25px;
}

.footer__text {
  color: #fff;
}

/*TAB*/
@media screen and (max-width: 1199px) {

/*スマホの画像*/
  .inner {
    width: 97%;
    
  }

  .what-inner {
    padding-bottom: 25px;
    
  }

  .what__rap,
  .what__section {
      display: inline-block;
  }

  .what__img {
    margin : 0 auto;
    width: auto;
    
  }


  .what__rap {
    width: auto;
  }

  .what__lead {
    width: auto;
    
  }

  .what__h2 {
    margin-top: 20px;
  }

  /*6つ画像*/

  .work__list,
  .mail__box {
    display:block;
    text-align: center;
  }

  .work__lead {
    margin-bottom: 40px;
    width: auto;
  }



  .work__group {
    margin-left: 0;
    margin-top:  0;
  }

  .work__group:nth-child(3n+4) {
    margin-top: 80px;
  }

  /*skill*/

  .skill-inner,
  .skill__list {
    display: block;
    margin-top:  40px;
  }

  .skill-inner {
    text-align: center;
    margin: auto;
  }

  .skill__group:first-child {
    margin-top: 0px;
  }

  .skill__group {
    margin-left: 0;
    margin-top:  0;
    margin-top: 88px;
  }

  .mail {
    margin : 0 auto
  }

}

/*SP*/
@media screen and (max-width:  767px) {

  .button {
    display: none;
  }
  
  .hamburger {
    position: relative;
    height: 20px;
    border-radius: 4px;
    padding: 10px;
  }

  .hamburger_line {
    position: absolute;
    right: 20%;
  }

  .hamburger,
  .hamburger_line {
    border: 1px solid #ddd;
    width: 25px;
  }
  
  .hamburger_line1 {
    top: 25%;
  }
  
    .hamburger_line2 {
    top: 50%;
  }
  
    .hamburger_line3 {
    top: 75%;
  }
  
/*them*/

  .theme-inner {
    padding: 160px 0 130px;
  }


  .them__h1 {
    font-size: 80px;
  }

  .theme__lead {
    font-size: 30px;
  }


  /*what*/
  .what-inner {
    display: block;
    
  }

  /*sns*/

  .sns-inner {
    padding: 50px 15px;
  }


  .sns__button,
  .sns-inner {
    display: block;
    width: auto;
  }

}

/*PCとTAB*/
@media screen and (min-width: 768px) {
  .hamburger {
  display: none;
  }

}
